<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="hellojava" class="com.tyf.day1.HelloJava" scope="singleton">
    <property name="name" value="田亚峰"></property>
    <property name="gender" value="男"></property>
</bean>
</beans>